# Training Object detector.

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# !rm -rf "/content/drive/My Drive/src/img"

In [2]:
%cd "/content/drive/My Drive/src/"

/content/drive/My Drive/src

In [22]:
!unzip "img.zip"

Archive:  img.zip
replace img/MEN/Denim/id_00000080/01_1_front.jpg? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [4]:
!nvidia-smi

Fri Aug  7 16:05:29 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.57       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P8    27W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/content/drive/My Drive/src/final_data.csv")

In [7]:
df.head()

   Unnamed: 0  ... final_target
0           0  ...           17
1           1  ...           17
2           2  ...           17
3           3  ...           17
4           4  ...            8

[5 rows x 8 columns]

In [8]:
import numpy as np

In [9]:
df = df.drop(["Unnamed: 0", "target"], axis=1)

In [10]:
df

                                                image_id  ...  final_target
0      img/WOMEN/Blouses_Shirts/id_00000001/02_1_fron...  ...            17
1      img/WOMEN/Blouses_Shirts/id_00000001/02_2_side...  ...            17
2      img/WOMEN/Blouses_Shirts/id_00000001/02_3_back...  ...            17
3      img/WOMEN/Blouses_Shirts/id_00000001/02_4_full...  ...            17
4           img/WOMEN/Dresses/id_00000002/02_1_front.jpg  ...             8
...                                                  ...  ...           ...
52707  img/WOMEN/Jackets_Coats/id_00007982/12_7_addit...  ...            11
52708  img/WOMEN/Jackets_Coats/id_00007982/13_1_front...  ...            11
52709  img/WOMEN/Jackets_Coats/id_00007982/13_2_side.jpg  ...            11
52710  img/WOMEN/Jackets_Coats/id_00007982/13_3_back.jpg  ...            11
52711  img/WOMEN/Jackets_Coats/id_00007982/13_7_addit...  ...            11

[52712 rows x 6 columns]

In [11]:
print(df['final_target'][0].dtype)

int64

In [12]:
print(np.unique(df['final_target']))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [16]:
# Shuffle the dataframe and sample 1/4 of it.
# df = df.sample(frac=1).reset_index(drop=True)
# df = df[:10000]

In [ ]:
# df

In [18]:
# df_val = df[int(len(df) * 9 // 10): ]
# df_val.to_csv("df_val2.csv", index=False)
# df.to_csv("df_train2.csv", index=False)

In [19]:
# df.to_csv("df_train2.csv", index=False)

In [23]:
%cd "/content/drive/My Drive/src"
%pwd

/content/drive/My Drive/src

'/content/drive/My Drive/src'

In [ ]:
!python train.py

Data Loaders created
Model loaded to device
---------------- Training Started --------------
  0% 0/2500 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/torchvision/ops/boxes.py:101: UserWarning: This overload of nonzero is deprecated:
	nonzero()
Consider using one of the following signatures instead:
	nonzero(*, bool as_tuple) (Triggered internally at  /pytorch/torch/csrc/utils/python_arg_parser.cpp:766.)
  keep = keep.nonzero().squeeze(1)
  6% 156/2500 [03:20<49:26,  1.27s/it]File not found
  9% 231/2500 [04:56<48:19,  1.28s/it]File not found
 10% 252/2500 [05:23<47:37,  1.27s/it]File not found
 12% 299/2500 [06:23<46:27,  1.27s/it]